<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PATO</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="../CSS/Estilo.css">

</head>
<body>
    <header id="logotipo">
        <img src="../Assets/img/logo.png" alt="Logotipo">
    </header>
    
    <nav id="menu">
        <ul>
            <li><a href="../index.html">INICIO</a></li>
            <li><a href="../Views/contacto.html">CONTACTO</a></li>
            <li><a href="../Views/presupuesto.html">PRESUPUESTO</a></li>
            <li><a href="../Views/productos.html">PRODUCTOS</a></li>
        </ul>
    </nav>

    <form id="form_nav">
        <input type="search" name="busqueda" id="busqueda" placeholder="Encuentra lo que buscas">
        <input type="submit" value="Buscar">
    </form>
    
    <!--AQUI CREAMOS EL FORMULARIO Y SE DEBERA DESPLEGAR UN CHECKBOX DE POLITICA DE EMPRESA
    Para que se puedan enviar los datos deberán
estar cumplimentados todos los campos y deberá estar marcado el checkbox.-->
    <main>
        <form class="form_contacto" >
            <h2>Presupuesto</h2>
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" id="nombre" required>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>
            <label for="telefono">Teléfono:</label>
            <input type="tel" name="telefono" id="telefono" required>
            <label for="comentario">Solicite mas información:</label>
            <textarea name="comentario" id="comentario" required></textarea>
            <form id="miFormulario">
                <div class="checkbox-container">
                    <input type="checkbox" id="politicaPrivacidad" required>
                    <label for="politicaPrivacidad">
                        Acepto la <a href="politica-privacidad.html" target="_blank">Política de Privacidad</a>
                    </label>
                </div>
        
                <br>
                <button type="submit" class="submit-btn" id="submitBtn">Enviar</button>
            </form>
        </form>
    </main>
    <footer>
        <div class="social-links">
            <a href="https://www.facebook.com/TU_PAGINA" target="_blank">
                <img src="../Assets/img/icons8-facebook-30.png" alt="Facebook">
            </a>
            <a href="https://www.twitter.com/TU_CUENTA" target="_blank">
                <img src="../Assets/img/icons8-twitter-30.png" alt="Twitter">
            </a>
            <a href="https://www.instagram.com/TU_CUENTA" target="_blank">
                <img src="../Assets/img/icons8-instagram-logo-30.png" alt="Instagram">
            </a>
            <a href="https://www.linkedin.com/in/TU_PERFIL" target="_blank">
                <img src="../Assets/img/icons8-linkedin-30.png" alt="LinkedIn">
            </a>
        </div>
        <p>© 2020 PATO. Todos los derechos reservados.</p>
    </footer>
  
</body>
</html>