<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="../CSS/Estilo.css">
    <title>Document</title>
</head>
<body>
    <header id="logotipo">
        <img src="../Assets/img/logo.png" alt="Logotipo">
    </header>
    
    <nav id="menu">
        <ul>
            <li><a href="../index.html">INICIO</a></li>
            <li><a href="../Views/contacto.html">CONTACTO</a></li>
            <li><a href="../Views/presupuesto.html">PRESUPUESTO</a></li>
            <li><a href="../Views/productos.html">PRODUCTOS</a></li>
        </ul>
    </nav>
    <form id="form_nav">
        <input type="search" name="busqueda" id="busqueda" placeholder="Encuentra lo que buscas">
        <input type="submit" value="Buscar">
    </form>
<!--AQUI CREAMOS UNA GALERIA DE PRODUCTOS -->
    <main>
        <div class="GALERIA">
            <div class="galery_items"><img src="../Assets/img/Fotos_muebles/39f57b37826a-escritoriosjuveniles-t.avif" alt="escritorio_joven"></div>
            <div class="galery_items"><img src="../Assets/img/Fotos_muebles/escritorio-con-almacenamiento.webp" alt="almacenamiento"></div>
            <div class="galery_items"><img src="../Assets/img/Fotos_muebles/escritorio-de-estilo-nordico-cubik.jpg" alt="estilo_nordico"></div>
            <div class="galery_items"><img src="../Assets/img/Fotos_muebles/media.webp" alt="escritorio_blanco"></div>
            <div class="galery_items"><img src="../Assets/img/Fotos_muebles/Mueble-escritorio-clásico-de-madera-Estilo-Vintage.jpg" alt="estilo_madera"></div>
            <div class="galery_items"><img src="../Assets/img/Fotos_muebles/tipos-de-escritorio-homemob.jpg" alt="estilo_negro"></div>
            <div class="galery_items"><img src="../Assets/img/Fotos_muebles/detalle-cajon-bandeja-bajo-mesa-estudio.webp" alt="escritorio_cama"></div>
            
        </div>

    </main>

    <footer>
        <div class="social-links">
            <a href="https://www.facebook.com/TU_PAGINA" target="_blank">
                <img src="../Assets/img/icons8-facebook-30.png" alt="Facebook">
            </a>
            <a href="https://www.twitter.com/TU_CUENTA" target="_blank">
                <img src="../Assets/img/icons8-twitter-30.png" alt="Twitter">
            </a>
            <a href="https://www.instagram.com/TU_CUENTA" target="_blank">
                <img src="../Assets/img/icons8-instagram-logo-30.png" alt="Instagram">
            </a>
            <a href="https://www.linkedin.com/in/TU_PERFIL" target="_blank">
                <img src="../Assets/img/icons8-linkedin-30.png" alt="LinkedIn">
            </a>
        </div>
        <p>© 2020 PATO. Todos los derechos reservados.</p>
    </footer>
    

</body>
</html>